body{
    background-color:lightblue;
    text-align: center;
}
.logo{
    text-align: center;
    width: 250px;
    height: 60px;
}
.tit{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #ff0011b7;
}
.t1{
    font-size: 30px;
    color: #490808;
    
}
.t2{
    font-size: 25px;
    color: #490808;
}
.t3{
    color:#0d169d
    font-size:20px;
}
.im{
    text-align:center;
    width:400px;
    height:200px;
}
form{
    font-size: 23px;
    color: #010033;
}
